<!-- <h1>E-Charts</h1> -->
<!-- <app-title></app-title>
<app-chart></app-chart>
<app-enrollment-chart></app-enrollment-chart> -->



<nav>
    
    <a routerLink="/home" routerLinkActive="active-link">🏠Home</a> 
    <a routerLink="/barchart" routerLinkActive="active-link">📊Barchart</a> 
    <a routerLink="/piechart" routerLinkActive="active-link">🥧Piechart</a> 
    <a routerLink="/linechart" routerLinkActive="active-link">📈Linechart</a> 
  

    <a routerLink="/exchart" routerLinkActive="active-link">🌄Charts</a> 

</nav>

<router-outlet />

<!-- <app-exchart></app-exchart> -->



